@import "tailwindcss";

@theme {
  --color-white: #fff;
  --color-ice-blue: #f7f9fc;
  --color-sky-light: #f4f7fcbf;
  --color-blue: #2264e6;
  --color-dark-blue: #1354d5;
  --color-red: #d12953;
  --color-green: #14804a;
  --font-inter: "Inter", sans-serif;
  --max-width-container: 1022px;
  --shadow-side-menu: 0px 5px 15px 0px rgba(0, 0, 0, 0.08),
    0px 15px 35px -5px rgba(17, 24, 38, 0.2),
    0px 0px 0px 1px rgba(152, 161, 179, 0.1);
  --shadow-delete-all-btn: 0px 1px 1px 0px rgba(0, 0, 0, 0.1),
    0px 0px 0px 1px rgba(70, 79, 96, 0.16),
    0px 2px 5px 0px rgba(89, 96, 120, 0.1);
}

@layer components {
  .my-container {
    @apply mx-auto max-w-[var(--max-width-container)];
  }
}

.my-transition {
  @apply transition-all duration-400 ease-in-out;
}

/* Zack */
.search-input {
  @apply outline-none placeholder:font-normal text-gray-500 bg-white w-[320px] py-1.5 px-3 rounded-md border border-solid border-[#788baf3d] focus-within:shadow-[0px_1px_2px_0px_rgba(0,0,0,0.06),0px_0px_0px_1px_rgba(104,113,130,0.16),0px_0px_0px_4px_rgba(1,178,237,0.36)];
}
.add-btn {
  @apply cursor-pointer bg-blue py-1.5 px-3 rounded-md border border-solid border-[#98a1b21a] transition hover:bg-dark-blue focus:shadow-[inset_0px_1px_0px_0px_rgba(75,133,250,1),0px_1px_1px_0px_rgba(0,0,0,0.14),0px_0px_0px_1px_rgba(34,100,230,1),0px_0px_0px_4px_rgba(1,178,237,0.36),0px_2px_5px_0px_rgba(34,100,230,0.12)];
}
.customer-modal {
  @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-999 bg-white p-6 rounded-lg shadow-lg max-w-[500px] w-[90%];
}
.sort-button {
  @apply inline-flex items-center gap-1 uppercase font-medium text-xs text-gray-500 cursor-pointer;
}
.sort-button[data-active="true"] {
  @apply text-gray-900;
}
.sort-button[data-active="true"][data-order="desc"] i {
  @apply rotate-180;
}
.open {
  @apply text-[#4f5aed] bg-[#f0f1fa];
}
.paid {
  @apply text-[#14804a] bg-[#e1fcef];
}
.due {
  @apply text-[#d12953] bg-[#faf0f3];
}
.inActive {
  @apply text-[#5a6376] bg-[#e9edf5];
}

